@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --color-primary: rgb(4, 6, 32);
  --color-primary-blur: rgba(4, 6, 32, 0.9);
  --color-secondary: skyblue;
  /* background: gray; */
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: 'Nunito', sans-serif;
}
